.header
  margin-top 6u
  align-items center
  +wide()
    margin-top 15u

.logo
  background-color white
  border-radius 50%
  height 11u
  width 11u
  justify-content center
  align-items center

.img
  height 4u
  width 4u

.title
  font-size 5.5u
  font-weight 300
  color white
  line-height 6u
  margin-top 3u
  +wide()
    font-size 9u
    line-height 11u
    margin-top 4u
  
.txt
  font-size 2u
  line-height 3u
  color rgba(255, 255, 255, 0.65)
  text-align center
  margin-top 1u
  max-width 47u
  +tablet()
    font-size 2.5u
    max-width 55u
    line-height 4u
    margin-top 2u
    font-weight 300
    +wide()
      max-width 78u
      font-size 3.5u
      line-height 6u
      font-weight 200

.link
  line-height 2u
  border-bottom 1px dotted rgba(255, 255, 255, 0.65)
  +tablet()
    line-height 3u
    +wide()
      line-height 4u
