.header
  margin-top 6u
  align-items center

.logo
  background-color white
  border-radius 50%
  height 11u
  width 11u
  justify-content center
  align-items center

.img
  height 4u
  width 4u

.title
  font-size 5u
  font-weight 300
  color white
  line-height 6u
  margin-top 3u
  
.txt
  font-size 2u
  line-height 3u
  color rgba(255, 255, 255, 0.65)
  text-align center
  margin-top 1u

.link
  line-height 2u
  border-bottom 1px dotted rgba(255, 255, 255, 0.65)
