.feature
  padding 3u
  align-items center

.img
  width 12u
  height 12u

.count
  color white
  font-weight 300
  font-size 5u
  line-height 6u
  letter-spacing -1px

.title
  font-size 2u
  color white
  font-weight 300
  line-height 4u
  