.first
  margin-top 6u
  +tablet()
    margin-top 8u
    align-items flex-start

.txt
  font-size 2u
  line-height 3u
  margin-top 3u
  font-weight 300
  color rgba(255, 255, 255, 0.65)

.btnView
  margin-top 4u
