.intro
  align-items center

.border
  border-radius 50%
  border 1px solid rgb(221, 221, 221)
  padding 1u
  height 26u
  width 26u
  margin-bottom 4u
   
.img
  border-radius 50%
  height 24u
  width 24u  

.line
  margin-top 2u

.txt
  font-size 2u
  color rgb(99, 99, 99)
  line-height 3u
  text-align center
  font-weight 300
  margin-bottom 4u
  margin-top 4u

.viewBut
  width 100%
  