.intro
  align-items center
  +desktop()
    flex-direction row

.left
  align-items center
  +desktop()
    order 1
    align-items flex-start
    flex-shrink 1
    padding-right 4u
    +wide()
      padding-right 15u

.right
  +desktop()
    order 2

.border
  border-radius 50%
  border 1px solid rgb(221, 221, 221)
  height 26u
  width 26u
  justify-content center
  align-items center
  +tablet()
    height 35u
    width 35u
  +wide()
    height 49u
    width 49u
   
.img
  border-radius 50%
  height 24u
  width 24u
  +tablet()
    height 32u
    width 32u
  +wide()
    height 45u
    width 45u

.top
  margin-top 4u
  +desktop()
    margin-top 0

.line
  margin-top 3u
  +wide()
    margin-top 5u

.txt
  font-size 2u
  color rgb(99, 99, 99)
  line-height 3u
  text-align center
  font-weight 300
  margin-top 4u
  +desktop()
    text-align left
  +wide()
    font-size 2.5u
    line-height 5u
    font-weight 200
    margin-top 6u

.viewBut
  width 100%
  margin-top 4u
  +tablet()
    width auto
  +wide()
    margin-top 5u