.feature
	margin-top 3u
	align-items center

.img-wrap
	width 17u
	height 17u
	border 1px solid #dddddd
	border-radius 50%
	padding 0.5u

.img-border
	width 100%
	height 100%
	border 1px solid #dddddd
	border-radius 50%
	align-items center
	justify-content center

.img
	width 10u
	height 10u

.title
	color rgb(99, 99, 99)
	font-size 2.5u
	line-height 4u
	font-weight 300
	margin-top 3u

.txt
	text-align center
	font-size 2u
	line-height 3u
	margin-top 2u
	font-weight 300
	color rgb(99, 99, 99)
