.feature
  flex-grow 1
  flex-shrink 1
  margin-top 3u
  align-items center
  max-width 37u
  padding 0 0.5u
  +tablet()
    margin-top 6u

.img-wrap
  width 17u
  height 17u
  border 1px solid #dddddd
  border-radius 50%
  padding 0.5u
  +tablet()
    width 24u
    height 24u
    padding 1.5u

.img-border
  width 100%
  height 100%
  border 1px solid #dddddd
  border-radius 50%
  align-items center
  justify-content center

.img
  width 12u
  height 12u

.title
  color rgb(99, 99, 99)
  font-size 2.5u
  line-height 4u
  font-weight 300
  margin-top 3u

.txt
  text-align center
  font-size 2u
  line-height 3u
  margin-top 2u
  font-weight 300
  color rgb(99, 99, 99)
