.section
  border-top 1px solid rgb(221, 221, 221)
  padding 6u 3u
  background-color white
  &.noDevider
    border-top 0
  &.grey
    background-color: #f7f7f7
  &.relaxed
    padding 2u
    +tablet()
      padding 2u
    +wide()
      padding 3u
  +tablet()
    padding 8u 6u
  +wide()
    padding 14u
