.link
  background-color transparent
  border-radius 8px
  text-align: center
  padding 0 2u
  margin 0 1u
  &.active
    background-color white
    
.txt
  color: #636363
  font-size 2u
  height 4u
  line-height 4u
  font-weight 300
