.second
  align-items center

.line
  margin-top 3u
  +wide()
    margin-top 5u

.txt
  text-align center
  font-size 2u
  line-height 3u
  margin-top 3u
  font-weight 300
  color rgb(99, 99, 99)
  max-width 75u
  +tablet()
    margin-top 4u
    font-size 2.5u
    line-height 4u
    +wide()
      margin-top 6u
      font-size 3u
      line-height 6u
      max-width 95u

.description
  text-align justify
  font-size 2u
  line-height 3u
  margin-top 4u
  font-weight 300
  color rgb(99, 99, 99)
  +tablet()
    margin-top 6u
  +desktop()
    column-count 2
    column-gap 4u
  +wide()
    font-size 2.5u
    font-weight 200
    line-height 4u

.viewBut
  width 100%
  margin-top 4u
  +tablet()
    width auto
    margin-top 6u
    +wide()
      margin-top 8u
