.connectInfo
  margin-top 1u

.row
  flex-direction row
  margin-top 2u

.title
  width 11u
  color white
  font-size 2u
  flex-shrink 0
  flex-grow 0
  line-height 3u

.text
  color rgba(255, 255, 255, 0.65)
  font-size 2u
  line-height 3u
  font-weight 300

.link
  line-height 2u
  border-bottom 1px dotted rgba(255, 255, 255, 0.65)
