.socials
  flex-direction row
  margin-top 6u
  +wide()
    margin-top 9u

.img
  width 5u
  height 5u
  margin-left 1u
  &.first
    margin-left 0
  +tablet()
    margin-left 2u
  +wide()
    width 7u
    height 7u
