.btn
  background-color transparent
  border-radius 8px
  border: 1px solid #dddddd
  text-align: center
  padding 0 5u
  &.primary
    background-color #8cc9f0
    border 1px solid #8cc9f0
  &.white
    border 1px solid white
  +wide()
    padding 0 7u
    
.txt
  color: #636363
  font-size 2u
  height 44px
  line-height 44px
  font-weight 300
  &.primary
    color white
  &.white
    color white
  +wide()
    font-size 2.5u
    height 60px
    line-height 60px
